<h2> <u>Listado de Alumnos</u></h2>
<ul>
    <li type="disc">Micaela</li>
    <li type="disc">Juan</li>
    <li type="disc">Josefina</li>
    <li type="disc">Lucas</li>
    <li type="disc">Lucía</li>
    <li type="disc">Marcelo</li>
    <li type="disc">Lourdes</li>
</ul>
<!--<h3>{{value}}</h3>
<p>Edad: {{edad + 1}}</p>-->
<p [ngClass]="notaMayor ? 'notaMayor' : 'notaMenor'">
    *Si el alumno está aprobado aparecerá en color <b>verde</b>, sino en color <b>azul</b>
</p>

<!--<p class="block" appRoundBlock>quiero hacer uso de la directiva</p>-->

